***Exercise 2: Create markdown cell with title of the notebook***

<h1>Data Science Tools and Ecosystem</h1>

***Exercise 3 - Create a markdown cell for an introduction***

In this notebook, Data Science Tools and Ecosystem are summarized

***Exercise 10 - Insert a markdown cell to list Objectives***

***Objectives:***
- List popular languages for Data Science
- list of the commonly used libraries used by Data Scientists
- List of Data Science tools
- Example of simple aritmetic code

***Exercise 4 - Create a markdown cell to list data science languages***

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

***Exercise 5 - Create a markdown cell to list data science libraries***

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-Learn
4. Keras
5. Tensorflow

***Exercise 6 - Create a markdown cell with a table of Data Science tools***

|Data Science Tools|
|------------------|
|Data Management: MySQL, Postgre SQL, Hadoop|
|Data Integration & Transformation: Kafka, kubeflow, Apache SparkSQL|
|Data Visualization: Hue, Kibana, PixieDust|

***Exercise 7 - Create a markdown cell introducing arithmetic expression examples***

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
10*10

100

***Exercise 8 - Create a code cell to multiply and add numbers***

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

***Exercise 9 - Create a code cell to convert minutes to hours***

In [4]:
# This will convert 200 minutes to hours by diving by 60
print("200 minutes =", round(200 / 60, 2), "hours")

200 minutes = 3.33 hours

***Exercise 11 - Create a markdown cell to indicate the Author's name***

<h2>Author</h2>
Inayah Surya